/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #71C9CE;
}

.teams ul {

    text-align: center;
    max-width: 420px;
    margin: auto;

    & li {
        background-color: #E3FDFD;
    }

    & img {
        border-radius: 0.5rem;
        max-width: 100%;
    }


}

.teams ul:hover {
    box-shadow:0 0 10px 0 black;
}

